@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "layout.cshtml";
}
<h1>@Model.Value("title")</h1>
@if (!string.IsNullOrWhiteSpace(Model.Value("description")?.ToString()))
{
    <div>
        @Model.Value("description")
    </div>
}
@{
    var image = Model.Value("image");
    var media = image != null ? Umbraco.Media(image) : null;
    if (media != null)
    {
        <img src="@media.Url()" alt="Hakkımızda Görseli" />
    }
}