@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "layout.cshtml";
}

<section class="firsatlar">
    <h1>@Model.Value("title")</h1>
    <p>@Model.Value("description")</p>
    <!-- Fırsatlar sayfasına özel içerikler buraya eklenebilir -->
</section>