@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "layout.cshtml";
}

<div class="main-container">
    <section class="firsatlar">
        <h1 style="color: white !important;">@Model.Value("title")</h1>
        <p>@Html.Raw(Model.Value("description"))</p>
        <!-- Fırsatlar sayfasına özel içerikler buraya eklenebilir -->
    </section>
 
 