@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "layout.cshtml"; // veya Layout = "_Layout.cshtml"; ikisi de olur
}
<h1>@Model.Value("title")</h1>
<div>
    @Model.Value("description")
</div>
@{
    var banner = Model.Value("bannerImage");
    var media = banner != null ? Umbraco.Media(banner) : null;
    if (media != null)
    {
        <img src="@media.Url()" alt="Banner" />
    }
}