@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "layout.cshtml";
}

<section class="ozet">
    <h1>@Model.Value("title")</h1>
    <p>@Model.Value("description")</p>
    <!-- Özet sayfasına özel içerikler buraya eklenebilir -->
</section> 